<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs4720.cs.virginia.edu.discgo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC9QmjzozJsTcv9rFyh10OD4ga7hJ7FPAI" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/title_splashscreen" >
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateMapsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_createmap" >
        </activity>
        <activity
            android:name=".CreateHoleActivity"
            android:label="@string/title_activity_camera" />
        <activity
            android:name=".PlayMapsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_playmap" >
        </activity>
        <activity
            android:name=".PlayHoleActivity"
            android:label="@string/title_activity_playhole" />
        <activity
            android:name=".EnterScoresActivity"
            android:label="@string/title_activity_enter_scores" >
        </activity>
        <activity
            android:name=".DisplayScoreActivity"
            android:label="@string/title_activity_display_score" >
        </activity>
        <activity
            android:name=".NamesActivity"
            android:label="@string/title_activity_names" >
        </activity>
        <activity
            android:name=".CreateCourseActivity"
            android:label="@string/title_activity_create_course" >
        </activity>
        <activity
            android:name=".ViewHolesActivity"
            android:label="@string/title_activity_view_holes" >
        </activity>
        <activity
            android:name=".PlayCourseActivity"
            android:label="@string/title_activity_play_course" >
        </activity>
        <activity
            android:name=".ChooseCourseActivity"
            android:label="@string/title_activity_choose_course" >
        </activity>
    </application>

</manifest>
